---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Experience from '../components/Experience.astro';
import Education from '../components/Education.astro';
import Competencies from '../components/Competencies.astro';
import Stack from '../components/Stack.astro';
import SoftSkills from '../components/SoftSkills.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="MARCOS LESCANO // FULLSTACK DEVELOPER">
  <Navbar />
  <main>
    <Hero />
    <Experience />
    <Stack />
    <Projects />
    <Competencies />
    <Education />
    <SoftSkills />
    <Contact />
  </main>
  <Footer />
</Layout>
